@tailwind base;
@tailwind components;

@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");

body {
  font-family: "Lato", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
.comforto {
  font-family: "Comfortaa", cursive;
}
